body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.underline{
  width:100px;
  height: 1px;
  background:#cf6219;
  border:2px solid #cf6219;
}
.img_card{
  width:80px;
  height:150px;
}
.price{
  color:#cf6219;
  font-weight: bold;
}